<ion-header>
  <ion-toolbar>
    <ion-title>Add New Task</ion-title>
    <ion-icon name ="close" slot ="end" size="large" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="taskName" placeholder="Write your task name here"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-datetime [(ngModel)]="taskDate" presentation="date" show-default-title="true" size="cover"></ion-datetime>
    </ion-item>

    <ion-button expand="block" (click)="AddTask()">Add task to schedule</ion-button>
  </ion-card>
</ion-content>